.estructura{
  position: relative;
  color: #fff;
  padding-top: 0;
}
.estructura .container{
  padding: 0 0 80px 0;
}
.estructura::before{
  content: " ";
  display: block;
  width: 100%;
  top: 30%;
  bottom: 0;
  position: absolute;
  background-color: var(--v-d-gray-blue);
  z-index: -1;
  border-radius: 0 90px 0 90px;
}
.estructura__textos{
  text-align: center;
  padding: 0;
}
.estructura__titulo{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.2;
}
.estructura__parrafo{
margin: 20px 0;
font-weight: 300;
letter-spacing: 1px;
}


//* Media Querys*//

@media screen and (min-width:550px) {

  .estructura{
  height: 500px;
  }
  .estructura__container{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .estructura__textos{
    width: 100%;
    text-align: left;
    margin-top: 50px;
  }
  .estructura__titulo{
    font-size: 2rem;
  }
}

